//全站統一

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  letter-spacing: 1px;
  background: #FFF;
  color: #5F5F5F;


  //為了react modal打開的時候
  &.modal-open {
    // padding-right: 8px !important;

  }

  &:not(.modal-open) {
    padding-right: 0px !important;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    margin: 0;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  background: #eeeeee;
  border-radius: 4px;

  &:horizontal {
    height: 6px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: none;

  &:horizontal {
    border: none;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #80909d;
  border-radius: 2px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #80909d;
}