//全站統一
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  letter-spacing: 1px;
  background: #FFF;
  color: #5F5F5F;


  //為了react modal打開的時候
  &.modal-open {
    // padding-right: 8px !important;

  }

  .modal-backdrop {
    &.show {
      opacity: 0.6
    }
  }

  &:not(.modal-open) {
    padding-right: 0px !important;
  }

  img {
    width: 100%;
    height: auto;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
  }

  p {
    margin: 0;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  // background: #a6a1a1;
  // border-radius: 4px;
  // box-shadow: inset 2px 0px 4px #7d7d7d;

  &:horizontal {
    height: 6px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;

  &:horizontal {
    border: none;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: linear-gradient(90deg, #bea07f, #edd1af);
  // box-shadow: inset 2px 0px 4px -4px #ffffff;
  // border-radius: 2px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: linear-gradient(90deg, #b7854e, #f7d19f);
}